@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  background-image: url('./assets/images/bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    background-position: center center;
  font-family: 'Bebas Neue', sans-serif; 
}